/*-------------------------------------------------------*/
/*null css*/
/*-------------------------------------------------------*/
*{padding: 0; margin: 0; border: 0;}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, :active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input buton, textarea{font-family:inherit ;}
input ::-ms-clear{display: none;}
button{cursor:pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
.model {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: url("./img/font.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

/*-------------------------------------------------------*/
/*header*/
/*-------------------------------------------------------*/
.header {
    max-width: 100%;
    height: 160px;
    background-color: #34403F;
    padding: 10px;
    position: fixed;
    z-index: 10;
}

.top_of_header {
    margin: 0 60px ;
    margin-top: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    font-size: 25px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
}

.menu__list {
    display: flex;
    padding: 20px 0 0 60px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
}


.menu__list a {
    margin-right: 40px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
}
/*-------------------------------------------------------*/
/*main*/
/*-------------------------------------------------------*/
.space__application {
    margin: 230px 60px 60px 60px;
    background-color: #425050;
}

.space__biography {
    background-color: #ad8b55;
    display: flex;
}

.space__hobbies {
    padding: 0 60px;
    background-color: #34403F;
}

.space__gallery {
    padding: 50px;
    background-color: #34403F;
    display: flex;
    position: relative;
    margin: auto;
}

.space__gallery img {
    margin: 0 10px;
}

.space__contacts {
    background-color: #ad8b55;
    padding: 60px;
}

.contacts_list {
    padding: 60px;
    background-color: white;
    text-align: center;
}

.contacts_list p {
    color: black;
    font-family: Weissenhof Grotesk Medium;
    font-size: 15px;
}

.contacts_icons {
    display: block;
    margin: 0 auto;
    paddingt: 0 10px;
}

.foot {
    background-color: #34403F;
    padding: 60px 0;
    text-align: center;
}

.foot p {
    color: white;
    font-family: Weissenhof Grotesk Medium;
    font-size: 15px;
}

.slide_menu {
    margin: 0 auto;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 0;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    margin-right: 60px;
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.avatar {
    width: 50%;
}

.sport, .jewelry, .travel{
    width: calc(100%/3);
}


.biography_info {
    padding: 200px 150px 150px 1050px;
}

.biography_info h1 {
    font-size: 50px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
}

.biography_info p {
    font-size: 20px;
    color: white;
}

.header_hobbies {
    padding: 120px 0 120px 0;
    font-size: 50px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
    display: flex;
    justify-content: center;
}

.hobbies_names {
    font-size: 30px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
    display: flex;
}

#name-1, #name-2, #name-3 {
    width: calc(100%/3);
    height: 110px;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

#name-1 {
    background-color: #425050;
}

#name-2 {
    background-color: #343434;
}

#name-3 {
    background-color: #ad8b55;
}

.hobbies {
    display: flex;
}

.name_header {
    display: flex;
    justify-content: center;
    padding: 300px 0 40px 0;
    font-size: 70px;
    font-family: Weissenhof Grotesk Medium;
    color: white;
}

.to_contact {
    padding: 40px 0 300px 0;
    margin: 0 740px 0 740px;
    background-color: #425050;
    font-size: 20px;
    font-family: Weissenhof Grotesk Medium;
    color: #425050;
}

.to__contact {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    border-radius: 4%;
    background-color: white;
}
/*-------------------------------------------------------*/
/*footer*/
/*-------------------------------------------------------*/
.foot {

}

